.intro_Container {
  width: 100%;
}

/* Profile Image Styling */
.intro_Image {
  background-image: url('../../assets/Media.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 2%;

  aspect-ratio: 4 / 3; /* maintain ratio */
  height: auto;
  min-height: 200px;

  margin-left: auto;  /* Center horizontally */
  margin-right: auto; /* Center horizontally */
}

@media (min-width: 768px) {
  .intro_Image {
    height: 80vh;
    width: 100%;
    margin-top: 4%;
    margin-left: 4%;  /* keep left margin on desktop */
    margin-right: 0;
    aspect-ratio: auto; /* disable aspect ratio */
  }
  
}


/* Content Box */
.introActual_Content {
  width: 90%;
}

/* Fade-in Animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 2s ease-out forwards;
}

/* Zoom Animation for Image */
@keyframes zoomBg {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

.bg-zoom-animation {
  animation: zoomBg 4s ease-in-out;
}
